layout-item {
    display: unset;
    position: relative;
}

.bf-item-content {
    width: 100%;    
    min-width: 100px;
    min-height: 100px;
    // border: 1px solid lightgray;
}

.bf-item--selected {
    border: 2px solid lightskyblue;
}

.bf-item--drag-over-top {
    border-top: 2px solid darkcyan;
}
.bf-item--drag-over-bottom {
    border-bottom: 2px solid darkcyan;
}
.bf-item--drag-over-left {
    border-left: 2px solid darkcyan;
}
.bf-item--drag-over-right {
    border-right: 2px solid darkcyan;
}

.row > layout-item {
    display: inline-block;
    vertical-align: top;
}

.column > layout-item {
    display: block;
}