.example-container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    text-align: center;
}

.doc-table {
    width: 100%;
    table-layout: fixed;
    margin-top: 50px;
    border-top: 1px solid gray;
    border-spacing: 20px 0;
}
.doc-table td {
    vertical-align: top;
}
.doc-table pre {
    overflow-x: auto;
}

pre {
    max-height: 400px;
}